<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<meta name="description" content="The personal site of Adil Parvez.">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Adil Parvez - Contact</title>
<link rel="stylesheet" href="//adilparvez.com/css/style.css" type="text/css">
<link rel="shortcut icon" href="//adilparvez.com/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" type="text/css">
</head>
<body>
  <header>
    <div class="container clearfix">
      <a class="path" href="https://adilparvez.com/">[about]</a>&nbsp;
      <a class="path" href="https://blog.adilparvez.com/">[blog]</a>&nbsp;
      <a class="path" href="https://gitlab.com/u/adilparvez/" target="_blank">[git]</a>&nbsp;
      <a class="path" href="https://contact.adilparvez.com/">[contact]</a>&nbsp;
      <a class="path" href="https://adilparvez.com/links/">[links]</a>
    </div>
  </header>

  <div class="container">
    <main role="main" class="homepage">
      <h1 class="site-title">
          <span class="base08">C</span><span class="base09">o</span><span class="base0a">n</span><span class="base0b">t</span><span class="base0c">a</span><span class="base0d">c</span><span class="base0e">t&nbsp;</span><span class="base08">m</span></span><span class="base0f">e</span>
      </h1>
      <br>
      <br>
      <div class="article-list">
        <article class="list-item">
          <section class="summary">
            <form method="post" action="/">
              <div>
                <label><b>to:</b></label>
                <span>Adil</span>
              </div>
              <div>
                <label for="from"><b>*from:</b></label>
                <input required type="email" name="from" placeholder="you@example.tld">
              </div>
              <div>
                <label for="name"><b>name:</b></label>
                <input type="text" name="name">
              </div>
              <div>
                <label for="subject"><b>subject:</b></label>
                <input type="text" name="subject">
              </div>
              <div>
                <label for="text"><b>*message:</b></label>
                <textarea required name="text"></textarea>
              </div>
              <div>
                <label><em>(*required)</em></label>
                <input type="submit" value="Send">
              </div>
            </form>
          </section>
        </article>
      </div>
      <br>
      <% if (error.length > 0) { %>
        <div style="text-align: center;">
          <h1>
            <span class="base05">(╯° °）╯︵ ┻━┻</span>
          </h1>
          <h2><%= error %></h2>
        </div>
        <br>
        <br>
      <% } %>
      <% if (success.length > 0) { %>
        <div style="text-align: center;">
          <h1>
            <span class="base05">(◠‿◠)</span>
          </h1>
          <h2><%= success %></h2>
        </div>
        <br>
        <br>
      <% } %>
    </main>
  </div>

  <br>
  <br>

  <footer>
    <div class="container">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="vertical-align:middle" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/></a>
      <br>
      <span class="copyright">&copy; Adil Parvez 2016</span>
    </div>
  </footer>

  <style>
    button, input, select, textarea {
      font-family : inherit;
      font-size   : 100%;
      width: 80%;
      margin: 0;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }

    label {
      display: inline-block;
      width: 7em;
      vertical-align: top;
      text-align: right;
    }

    textarea {
        resize: vertical;
        height: 10em;
    }
  <style>

</body>
</html>

