<h1 class="site-title">
  <span class="base08">a</span><span class="base09">s</span><span class="base0a">s</span><span class="base0b">e</span><span class="base0c">r</span><span class="base0d">t</span><span class="base0e">(</span><span class="base0f">0</span><span class="base08">)</span><span class="base09">;</span>
</h1>
<div style="text-align: center;">
  A blog about compsci/programming/maths related things.
</div>
<br>
<div style="text-align: center;">
  <a href="{{ "/index.xml" | absURL }}"><img src="{{ "/img/feed-icon.png" | absURL }}" style="vertical-align:middle"></a>
</div>
